@use './pallet';

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
div,
input,
body,
button {
  margin: 0;
  padding: 0;
  font-family: Meiryo UI;
}

body {
  background-color: pallet.$white-base;
  width: 100dvw;
  min-width: 380px;
  height: 100dvh;
  overflow: hidden;

  @media screen and (min-width: 800px) {
    background-color: pallet.$yellow-base;
  }
}

.content {
  min-width: 350px;
  height: 100%;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    min-width: 850px;
    box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.3);
    background-color: pallet.$white-base;
    border-radius: 50px;
  }

  .content-header {
    height: 10%;

    @media screen and (orientation: landscape) and (hover: none) {
      height: 20%;
    }

    @media screen and (min-width: 800px) {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
    }

    .tab-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    overflow-y: auto;

    @media screen and (orientation: landscape) and (hover: none) {
      height: 70%;
    }

    @media screen and (min-width: 800px) {
      height: 75%;
    }
  }

  .content-footer {
    width: 100%;
    height: 10%;
    background: pallet.$gray-base;
    position: fixed;
    bottom: 0px;
    opacity: 0.9;
    z-index: 99;

    @media screen and (min-width: 800px) {
      border-radius: 0 0 50px 50px;
    }
  }

  .base-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 14%;

    .base-header {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
    }
  }
}

// ホーム
app-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;

  @media screen and (min-width: 800px) {
    width: 65%;
  }

  .me-image {
    background: url(../../assets/img/me.jpeg) no-repeat;
    background-size: contain;
    width: 150px;
    height: 194px;
    border-radius: 50%;

    @media screen and (orientation: landscape) and (hover: none) {
      width: 12%;
      height: 40%;
    }
  }

  .my-name {
    color: pallet.$gray-dark;
    font-size: 20px;
  }

  .bio-wrapper {
    width: 80%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: pallet.$gray-dark;

    @media screen and (min-width: 800px) {
      width: 100%;
      gap: 4px;
      font-size: 18px;
    }

    .bio-row {
      display: flex;
      align-items: center;
      gap: 10px;

      .year {
        flex-basis: 20px;

        @media screen and (min-width: 800px) {
          flex-basis: auto;
        }
      }
      .month {
        flex-basis: 10px;

        @media screen and (min-width: 800px) {
          flex-basis: auto;
        }
      }
    }
  }
}

// 経験
app-experience {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4%;

  @media screen and (min-width: 800px) {
    gap: 10%;
  }

  .donut-chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;

    @media screen and (min-width: 800px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10%;
      width: 70%;
    }
  }

  #donut-chart-programing,
  #donut-chart-library-framework,
  #donut-chart-development-tool,
  #donut-chart-database {
    @media screen and (min-width: 800px) {
      margin-top: 0px;
    }
  }

  .legend {
    @media screen and (min-width: 800px) {
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
    }

    .legend-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:hover {
        font-size: 20px;
      }
    }

    .color {
      font-size: 20px;

      @media screen and (min-width: 800px) {
        font-size: 25px;
      }
    }

    .title {
      font-size: 20px;
      color: pallet.$gray-dark;

      @media screen and (min-width: 800px) {
        font-size: 18px;
      }
    }
  }
}

// スキル
app-skill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14%;

  .line-chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

    @media screen and (min-width: 800px) {
      display: flex;
      flex-direction: row;
      gap: 0%;
      height: 90%;
      width: 70%;
    }
  }

  #line-chart {
    position: relative;

    @media screen and (min-width: 800px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .check-box-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;

    @media screen and (min-width: 800px) {
      justify-content: center;
      flex-basis: 25%;
    }

    .color {
      font-size: 20px;

      @media screen and (min-width: 800px) {
        font-size: 18px;
      }
    }

    .title {
      color: pallet.$gray-dark;
      font-size: 20px;

      @media screen and (min-width: 800px) {
        font-size: 18px;
      }
    }
  }
}

// 資格
app-qualification {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  align-items: center;

  @media screen and (min-width: 800px) {
    width: 40%;
  }

  .qualification-img {
    background: url(../../assets/img/qualification.jpg) no-repeat;
    background-size: contain;
    width: 160px;
    height: 150px;
    border-radius: 50%;

    @media screen and (orientation: landscape) and (hover: none) {
      width: 17%;
      height: 38%;
    }
  }

  .qualification-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    width: 65%;
    font-size: 16px;
    color: pallet.$gray-dark;

    @media screen and (min-width: 800px) {
      font-size: 18px;
      width: 100%;
    }

    .qualification-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

// フッター
.footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;

  .x-logo {
    background: url(../../assets/img/X-logo.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .instagram-logo {
    background: url(../../assets/img/Instagram-logo.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .github-logo {
    background: url(../../assets/img/Github-logo.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .youtube-logo {
    background: url(../../assets/img/Youtube-logo.svg);
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
